<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent"
    android:weightSum="100"
    android:minWidth="25px"
    android:minHeight="25px">
    <TextView
        android:text="@string/GeoSpy"
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:layout_weight="40"
        android:id="@+id/txtGeoSpy"
        android:textSize="30sp"
        android:gravity="center"
        android:textStyle="bold" />
    <EditText
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/txtUserName"
        android:layout_weight="5"
        android:hint="@string/Login"
        android:layout_marginLeft="25dp"
        android:layout_marginRight="25dp" />
    <EditText
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/txtPassword"
        android:layout_weight="5"
        android:hint="@string/Password"
        android:password="true"
        android:layout_marginLeft="25dp"
        android:layout_marginRight="25dp" />
    <TextView
        android:id="@+id/txtSigninValid"
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:layout_weight="10"
        android:layout_marginRight="40dp"
        android:layout_marginLeft="40dp"
        android:textColor="#ff0000"
        android:textSize="12sp" />
    <Button
        android:text="@string/Signin"
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:layout_weight="12"
        android:id="@+id/btnSignin"
        android:textSize="16sp"
        android:background="#5cb85c"
        android:layout_marginTop="25dp"
        android:layout_marginBottom="5dp"
        android:layout_marginLeft="25dp"
        android:layout_marginRight="25dp" />
    <Button
        android:text="@string/Signup"
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:layout_weight="12"
        android:id="@+id/btnSignup"
        android:textSize="16sp"
        android:background="#337ab7"
        android:layout_marginTop="5dp"
        android:layout_marginBottom="10dp"
        android:layout_marginLeft="25dp"
        android:layout_marginRight="25dp" />
    <RelativeLayout
        android:minWidth="25dp"
        android:minHeight="25dp"
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:layout_weight="16"
        android:id="@+id/relativeLayout1">
        <ProgressBar
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/progressBar"
            android:layout_centerInParent="true"
            android:indeterminate="true"
            android:visibility="invisible" />
    </RelativeLayout>
</LinearLayout>